.inputBox{
    position: relative;
    width: 100%;
}
#toggle{
    margin-top:10px ;
    padding: 10px;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: 600;
}
input{
    width: 100%;
}
